[submodule "dedupli"]
	path = dedupli
	url = https://github.com/Rammohanty/swaram/dedupli-swaram
[submodule "scripts"]
	path = scripts
	url = https://github.com/Rammohanty/swaram/scripts-swaram
[submodule "bwa-arm"]
	path = bwa-arm
	url = https://github.com/Rammohanty/bwa-arm.git
[submodule "platypus-arm"]
	path = platypus-arm
	url = https://github.com/Rammohanty/swaram/platycflr
